*{
    font-family: 'Economica', sans-serif;
}
.titulo{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
    display: block;
}
main{
    display: flexbox;   
}
.carrusel{
    display: flex;
}
.wapp{
    display: flex;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
}
