*{
    font-family: 'Economica', sans-serif;
}
.titulo{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
    display: block;
}
main{
    display: flexbox;   
}
.carrusel{
    display: flex;
}
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
}
