*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    display: inline-block;
}
.container{
    display: inline-block;
}
aside{
    float: left;
    width: 25%;
    background-color: beige;
}
aside::after {
    content: "";
    display: table;
    clear: both;
}
.wapp{
    width: 45%;
    float: left;
    padding: 20px;
    background-color: greenyellow;
}
.mail{
    width: 45%;
    float: left;
    padding: 20px;
    background-color: red;
}

main{
    width: 100%;
    float: left;
}
footer{
    width: 100%;
    text-align: center;
    margin: 20px;
    background-color: grey;
}
button{
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    width: auto;
}